{% extends 'base.html' %} {% block content %}
<section id="sidebar">
  <aside
    id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidenav"
  >
    <div
      class="overflow-y-auto py-5 px-3 h-full bg-[#0a0a0b] border-r border-gray-700 mt-[5.6rem]"
    >
      <ul class="space-y-2">
        {% for item in sideBarData %}
        <li>
          <button
            type="button"
            class="flex flex-wrap items-center p-2 w-full text-base font-normal text-gray-100 rounded-lg transition duration-75 group hover:bg-gray-600 toggle-dropdown"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span class="text-white font-bold mr-2">{{ item.ModuleID }}. </span>
            <span
              class="flex-1 ml-3 text-left whitespace-nowrap overflow-hidden overflow-ellipsis"
              >{{ item.Description }}</span
            >
            <svg
              aria-hidden="true"
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <ul class="py-2 space-y-2 hidden" aria-orientation="vertical" id="dropdown-pages">
            {% for i in item.QuestionID %}
            <li>
              <a
                id="{{ i }}"
                href="{% url 'question' %}"
                class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-100 bg-gray-600 rounded-lg transition duration-75 group hover:bg-gray-600"
                >Question {{ i }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </aside>
</section>

<section class="mb-5 mt-[6.8rem] ml-48">
  <h1
    class="mb-5 text-4xl font-extrabold bg-gradient-to-br from-white via-slate-200 to-slate-500 bg-clip-text text-transparent"
  >
    {{ questionInfo.Description }}
  </h1>

  <div class="mb-2 text-sm text-slate-50">
    <span class="font-extrabold">{{ questionInfo.CompletedQuestions }}</span> of
    <span class="font-extrabold">{{ questionInfo.TotalQuestions }}</span>
    Complete. ({{ questionInfo.ProgressPercentage }}%)
  </div>

  <div class="w-[40%] rounded-full h-2.5 bg-gray-500 mb-10">
    <div
      class="bg-gradient-to-br from-white via-slate-50 to-gray-100 h-2.5 rounded-full"
      style="width: 60%"
    ></div>
  </div>
  <div class="overflow-x-auto">
    <table
      class="table-auto border-collapse border border-gray-300 text-slate-50"
    >
      <thead>
        <tr>
          <th class="border border-gray-200 px-4 py-2">Name</th>
          <th class="border border-gray-200 px-4 py-2">Continent</th>
          <th class="border border-gray-200 px-4 py-2">Area</th>
          <th class="border border-gray-200 px-4 py-2">Population</th>
          <th class="border border-gray-200 px-4 py-2">GDP</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Afghanistan</td>
          <td class="border border-gray-300 px-4 py-2">Asia</td>
          <td class="border border-gray-300 px-4 py-2">652,230</td>
          <td class="border border-gray-300 px-4 py-2">25,300,100</td>
          <td class="border border-gray-300 px-4 py-2">$20,343,000,000</td>
        </tr>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Albania</td>
          <td class="border border-gray-300 px-4 py-2">Europe</td>
          <td class="border border-gray-300 px-4 py-2">28,748</td>
          <td class="border border-gray-300 px-4 py-2">2,831,741</td>
          <td class="border border-gray-300 px-4 py-2">$12,960,000,000</td>
        </tr>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Algeria</td>
          <td class="border border-gray-300 px-4 py-2">Africa</td>
          <td class="border border-gray-300 px-4 py-2">2,381,741</td>
          <td class="border border-gray-300 px-4 py-2">37,100,000</td>
          <td class="border border-gray-300 px-4 py-2">$188,681,000,000</td>
        </tr>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Andorra</td>
          <td class="border border-gray-300 px-4 py-2">Europe</td>
          <td class="border border-gray-300 px-4 py-2">468</td>
          <td class="border border-gray-300 px-4 py-2">78,115</td>
          <td class="border border-gray-300 px-4 py-2">$3,712,000,000</td>
        </tr>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Angola</td>
          <td class="border border-gray-300 px-4 py-2">Africa</td>
          <td class="border border-gray-300 px-4 py-2">1,246,700</td>
          <td class="border border-gray-300 px-4 py-2">20,609,294</td>
          <td class="border border-gray-300 px-4 py-2">$100,990,000,000</td>
        </tr>
        <tr>
          <td class="border-gray-300 px-4 py-2">.......</td>
        </tr>
        <!-- Add more rows for other countries -->
      </tbody>
    </table>
  </div>
</section>

<section class="max-w-[100%] ml-48">
  <h1 class="text-2xl text-slate-200 mt-10 mb-5">
    Introducing the
    <span class="text-slate-100 font-bold">World</span> table of countries
  </h1>
  <div class="grid grid-cols-2 rounded-lg border border-slate-100">
    <div
      class="col-span-1 bg-slate-900 p-10 pb-20 rounded-l-lg text-left max-w-[100%]"
    >
      <p class="text-lg text-gray-300 leading-normal tracking-normal">
        <span class="text-2xl font-bold text-gray-50 mb-1 tracking-wide"
          >{{ questionInfo.QuestionID }}.</span
        >
        <br />
        {{ questionInfo.QuestionText }}
      </p>
      <textarea
        class="w-full h-[50%] rounded-lg mt-5 mb-4 p-4 bg-slate-200 text-sm"
        rows="4"
        cols="50"
      ></textarea>
      <button
        class="m-1 mb-3 bg-slate-100 p-4 px-6 font-bold text-slate-900 rounded-lg transition-all duration-300 ease-in-out transform delay-100 hover:bg-stone-300 border-2 border-black hover:-translate-y-1"
      >
        SUBMIT SQL
      </button>
    </div>

    <div class="col-span-1 bg-slate-300 rounded-r-lg p-10 pb-14">
      <h1 class="text-2xl font-semibold mb-10">
        Correct Answer &nbsp;<span class="text-3xl"> 🎉</span>
      </h1>

      <div>
        <table
          class="table-auto border-collapse border-2 border-gray-900 text-slate-50"
        >
          <thead>
            <tr>
              <th class="border border-gray-900 px-4 py-2 text-gray-950">
                Population
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-gray-900 px-4 py-2 text-gray-800">
                25,300,100
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script>
  // Function to initialize sidebar behavior
  function initializeSidebar() {
    // Get the sidebar element
    var sidebar = document.getElementById("sidebar");

    // Attach click event listener to the sidebar
    sidebar.addEventListener("click", function (event) {
      // Get the clicked element
      var target = event.target;

      // Check if the clicked element is a module button
      if (target.classList.contains("toggle-dropdown")) {
        // Toggle the visibility of the dropdown menu associated with the clicked button
        var dropdownMenu = target.nextElementSibling;
        dropdownMenu.classList.toggle("hidden");

        // Toggle the aria-expanded attribute
        var isExpanded = target.getAttribute("aria-expanded") === "true";
        target.setAttribute("aria-expanded", !isExpanded);
      }

      // Check if the clicked element is a sidebar link
      if (target.closest("#dropdown-pages a")) {
        // Prevent the default behavior of the link (e.g., navigating to a new page)
        event.preventDefault();
        event.stopPropagation(); // Stop event propagation

        // Get the QuestionID from the link's ID attribute
        var questionID = target.id;

        // Perform AJAX request
        $.ajax({
          type: "GET",
          url: "/question",
          data: { questionID: questionID },
          success: function (response) {
            // Update the content of the page with the response
            document.querySelector("section").innerHTML = response;

            // Reinitialize sidebar behavior
            initializeSidebar();
          },
          error: function (xhr, status, error) {
            console.error(error);
          },
        });
      }
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    // Initialize sidebar behavior
    initializeSidebar();
  });
</script>


{% endblock content %}
