{% extends 'base.html' %} {% block content %}
<section>
  <form action="" method="post">
    {% csrf_token %}
    <div class="flex flex-col max-h-dvh mt-[15%] items-center justify-center">
      <h1
        class="text-gray-100 text-3xl font-bold leading-10 tracking-[-0.049375rem] mb-10"
      >
        Sign up
      </h1>

      <div class="w-[20%]">
        <label class="text-gray-100 font-medium text-sm leading-6">
          User Name
        </label>
        <div
          class="mb-2 rounded-lg w-full py-2 text-gray-900 border-0 ring-1 ring-inset ring-gray-300 focus:ring-4 focus:ring-inset focus:ring-blue-600 bg-gray-100"
        >
          {{ form.username }}
        </div>
      </div>
      <div class="w-[20%]">
        <label class="text-gray-100 font-medium text-sm leading-6">
          E-mail
        </label>
        <div
          class="mb-2 rounded-lg w-full py-2 text-gray-900 border-0 ring-1 ring-inset ring-gray-300 focus:ring-4 focus:ring-inset focus:ring-blue-600 bg-gray-100"
        >
          {{ form.email }}
        </div>
      </div>
      <div class="w-[20%]">
        <label class="text-gray-100 font-medium text-sm leading-6">
          Password
        </label>
        <div
          class="mb-2 rounded-lg w-full py-2 text-gray-900 border-0 ring-1 ring-inset ring-gray-300 focus:ring-4 focus:ring-inset focus:ring-blue-600 bg-gray-100"
        >
          {{ form.password1 }}
        </div>
      </div>
      <div class="w-[20%]">
        <label class="text-gray-100 font-medium text-sm leading-6">
          Confrim Password
        </label>
        <div
          class="mb-2 rounded-lg w-full py-2 text-gray-900 border-0 ring-1 ring-inset ring-gray-300 focus:ring-4 focus:ring-inset focus:ring-blue-600 bg-gray-100"
        >
          {{ form.password2 }}
        </div>
      </div>
      <div class="mt-8 w-[20%]">
        <button
          class="text-gray-100 bg-blue-600 p-3 w-full rounded-lg font-medium hover:bg-blue-700 transition duration-300 ease-in-out text-lg tracking-wide focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Create Account
        </button>
        <div class="mt-3 text-right">
          <a href="{% url 'login' %}">
            <p class="text-gray-300 text-sm tracking-wide leading-snug">
              Already have an account?
              <span
                class="font-semibold text-gray-100 underline decoration-blue-100 decoration-1 underline-offset-[6px] cursor-pointer hover:decoration-2 transition duration-300 ease-in-out"
                >Log In</span
              >
            </p>
          </a>
        </div>
      </div>
    </div>
  </form>
</section>
{% endblock content %}
